nav {
  background-color: var(--nav_color);
  position: sticky;
  top: 0;
  left: 0;
  min-width: 20rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;

  .profile_container {
    position: relative;
    width: 100%;
    aspect-ratio: 1/0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .settings_wrapper {
      position: absolute;
      top: 5%;
      left: 2.5%;
      min-width: 75%;
      height: 5rem;
      display: flex;
      z-index: 1;
      overflow: hidden;

      .settings_icon {
        min-width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          background-color: transparent;
          border: none;
          outline: none;

          span {
            color: var(--text_color);
            cursor: pointer;
          }

          span:hover {
            animation: icon_spin 5s ease-out 0s infinite;
          }

          @keyframes icon_spin {
            from {
              rotate: 0deg;
            }
            to {
              rotate: 360deg;
            }
          }
        }
      }

      .theme_colors_wrapper {
        position: relative;
        bottom: 100%;
        border-radius: 20px;
        display: flex;
        flex: 1;
        border: 2px solid var(--button_color);
        background-color: var(--nav_color);
        transition: all 0.3s ease-out;

        .theme_content {
          width: 80%;
          height: 100%;
          margin: auto;
          display: flex;
          flex-direction: column;

          h4 {
            margin: 2.5% 0 0 0;
            white-space: nowrap;
          }

          .theme_colors {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;

            button {
              width: 18%;
              aspect-ratio: 1/1;
              outline: none;
              border: none;
              border-radius: 50%;
              cursor: pointer;
            }
          }
        }
      }
    }

    .profile_pic {
      background-image: url(../assets/my_pic.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 45%;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 7.5px solid var(--primary_color);
    }

    .profile_text {
      text-align: center;
    }
  }

  ul {
    position: relative;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;

    a {
      background-color: var(--button_color);
      width: 80%;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 700px;
      text-decoration: none;
      color: var(--text_color);
      font-weight: bold;
      box-shadow: 0 0 20px 2px var(--section_color);
      transition: all 0.3s ease-out;
    }

    a:hover {
      background-color: var(--primary_color);
    }
  }
}

@media (max-width: 860px) {
  nav {
    position: fixed;
    display: none;
  }
}

@media (max-width: 460px) {
  nav {
    width: 100%;
  }
}
