@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto&family=Varela+Round&display=swap");

* {
  padding: 0%;
  margin: 0%;
}

:root {
  --primary_color: #37bcae;
  --nav_color: #434141;
  --button_color: #4e4b4b;
  --section_color: #2c2a2a;
  --text_color: #e1dfdf;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Varela Round", sans-serif;
  color: var(--text_color);
  cursor: default;
  overflow-x: hidden;
  background-color: var(--section_color);
}

#root {
  position: absolute;
  min-height: 100vh;
  display: flex;
}

#navigation_button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
  aspect-ratio: 1/1;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--button_color);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s ease-out;
  
  span {
    color: var(--text_color);
  }
}

@media (max-width: 860px) {
  #navigation_button {
    display: flex;
  }
}

#navigation_button:hover {
  background-color: var(--primary_color);
}

.sections {
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  background-color: var(--section_color);
  min-height: 100vh;

  h1 {
    width: 100%;
    border-bottom: 2px solid var(--nav_color);
    text-align: center;
    font-size: 2.5rem;

    span {
      color: var(--primary_color);
    }
  }
}


